body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.front {
  position: relative;
  background-color: black;
  display: flex;
}

.front_image {
  width: 100%;
  opacity: 0.6;
  box-shadow: 0 2px 8px gray;
}

.logo {
  height: 5vw;
  position: absolute;
  top: 1%;
}

.div_button{
  position: absolute;
  top: 63%;
  width: 100%;
  text-align: center;
}

.button_info{
  width: 300px;
  height: 45px;
  border: 0;
  border-radius: 30px;
  transition: .25s;
  background: linear-gradient(-45deg, blueviolet, #5ac3cf);
  margin: 5px 25px 5px 25px;
  color: white;
  font-size: 17px;
}

.button_info_2{
  width: 300px;
  height: 45px;
  border: 0;
  border-radius: 30px;
  transition: .25s;
  background: linear-gradient(-45deg, #5ac3cf, blueviolet);
  margin: 5px 25px 5px 25px;
  color: white;
  font-size: 17px;
}

.button_info:hover, .button_info_2:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.button_navigation{
  position: absolute;
  top: 80%;
  left: calc(50% - 25px);
  transition: .25s;
  animation: animation_button ease-in-out 1.5s infinite;
}

@keyframes animation_button{
  50%{transform: translate(0, 15px);} 
}

.button_navigation:hover{
  transform: scale(1.2,1.2);
}

/*
.form_text{
  color: white;
  margin-bottom: 60px;
  font-size: 20px;
  text-shadow: 0px 0px 3px black;
}

.email {
  left: calc(50% - 300px);
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  padding: 0 5px 0 5px;
  min-width: 150px;
  box-shadow: 1px 1px 4px black;
}

.valid {
  margin-top: 0px;
  width: 120px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  transition: .25s;
  background-color: white;
  box-shadow: 1px 1px 4px black;
}

.valid:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
  background-color: #5ac3cf;
  box-shadow: 2px 2px 4px black;
}*/

.text_image {
  position: absolute;
  top: 38%;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.2);
}

.container {
  margin: 32px auto;
  max-width: 1280px;
  width: 80%;
}

.p_first_container{
  line-height: 24px;
  font-size: 18px;
  font-weight: lighter;
}

.register_images {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
}

.register_images_2{
  display: flex;
  margin: 50px 0 50px 0;
  justify-content: space-around;
}

.image_logo_height{
  height: 128px;
}

.reseaux_text{
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
}

.reseaux_sociaux{
  display: inline-block;
  width: 49%;
  text-align: center;
  height: 300px;
  vertical-align: top;
}

.reseaux_text_1{
  margin-bottom: 40px;
}

.reseaux_text_2{
  margin-bottom: 80px;
}

.diviseur{
  display: inline-block;
  margin-top: 50px;
  height: 230px;
  width: 4px;
  background: linear-gradient(-45deg, #5ac3cf, blueviolet);
  vertical-align: middle;
}

.button_info_google_form{
  width: 180px;
  height: 45px;
  border: 0;
  border-radius: 30px;
  transition: .25s;
  background: linear-gradient(-45deg, #5ac3cf, blueviolet);
  color: white;
  font-size: 17px;
  margin: auto 25px auto 25px;
}

.button_info_google_form:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.register_images p {
  font-weight: bold;
  font-size: 18px;
}

.register_images_2 p{
  font-weight: bold;
  font-size: 18px;
}

.flex_div {
  flex: auto;
}

.flex_div {
  width: 33%;
  text-align: center;
}

.flex_text{
  margin-top: 60px;
}

hr {
  width: 90%;
  height: 3px;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(-45deg, blueviolet, #5ac3cf);
  box-shadow: 1px 1px 1px gray;
}

.valeur {
  background: linear-gradient(-45deg, blueviolet, #5ac3cf);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px gray;
}

.valeur_titre {
  width: 100%;
  text-align: center;
  color: white;
}

.valeur_text {
  color: white;
}

.div_reseaux{
  text-align: center;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

.form {
  background: linear-gradient(45deg, blueviolet, #5ac3cf);
  padding: 80px 100px;
  box-shadow: 2px 2px 4px gray;
}

.text_form{
  margin-bottom: 60px;
}

.form > h2,
.form > form > p {
  color: white;
  text-align: center;
}

.email {
  width: 50%;
  max-width: 300px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  padding: 0 5px 0 5px;
  min-width: 150px;
}

.valid{
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 120px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  transition: .25s;
  background-color: white;
}

.valid:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
  background-color: #5ac3cf;
}

.form > form > div {
  text-align: center;
}

.footer {
  text-align: center;
}

.flex_images{
  transition: 0.25s;
}

.flex_images:hover{
  transform: scale(1.15,1.15);
}

.div_button_mobile{
  display: none;
}

.division_show{
  display: none;
}

.reseaux_logo{
  margin: 0 50px 0 50px;
}

@media screen and (max-width: 1200px) {
  .reseaux_logo{
    width: 70px;
  }

  .button_info_google_form{
    width: 140px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  h2{
    text-align: center;
  }
  .logo {
    height: 8vw;
  }
  .text_image {
    font-size: 1.1rem;
    top: 30%;
  }
  .register_images {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .register_images_2{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .image_logo_height{
    height: auto;
  }
  .flex_text{
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .flex_div {
    width: 50%;
  }
  .p_first_container{
    margin-bottom: 50px;
  }
  .reseaux_logo{
    width: 70px;
  }
  .text_form{
    font-size: 20px;
  }
  .valeur_titre {
    margin-top: 60px;
  }
  .flex_div_margin{
    margin-top: 30px;
  }
  .div_button{
    display: none;
  }
  .div_button_mobile{
    display: block;
    text-align: center;
  }
  .button_navigation{
    display: none;
  }
  .division_show{
    display: block;
    margin-top: 30px;
  }
  .button_info, .button_info_2{
    margin: 5px;
  }
  .diviseur{
    display: none;
  }
  .reseaux_sociaux{
    width: 100%;
    height: auto;
  }
  .button_info_google_form{
    margin: 10px;
  }
  .reseaux_text_1{
    margin: 40px;
  }
  .reseaux_text_2{
    margin: 40px;
  }
  .reseaux_logo{
    margin: 0;
  }
  .div_reseaux_0{
    display: block;
  }
  .button_info_google_form{
    width: 180px;
    font-size: 14px;
  }
  .div_reseaux{
    margin: 0 10px 0 10px;
  }
}

/* je suis soignant, je suis une structure de santé
image change
virer avis
